.NftMintDiv {
  background: linear-gradient(90deg, #932c50 0%, #bd3f32 99.42%);
  width: 35rem;
  height: 35rem;
  transform: scale(0.8);
  
  color: white;
}
.boardImg {
  width: 20rem;
  height: 20rem;
  margin-top: 2rem;
}
.nftMintLogo {
  margin-right: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
}
.maticToken {
  width: 1.5rem;
  height: 1.5rem;
}
.nftDet1{
  text-align: center;
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  /* margin: 2.5rem auto; */
}

.nftDet2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.nftDesc {
  width: 30rem;
  height: 10rem;
  background: rgba(26, 28, 32, 0.75);
  border-radius: 17px;
  
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 0 0 0.5rem;
  margin-top: 3rem;
}
.nftDespEditor {
  width: 35rem;
  height: 14rem;
  background: rgba(26, 28, 32, 0.75);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 1rem 1.5rem;

  
  

  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  
}
.trophy {
  width: 1.5rem;
  height: 1.5rem;
}
.mintSucc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-top: 4rem;
  height: 60vh;
  
}
.mintSpan {
  display: inline-block;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  /* margin-left: 2rem; */
  margin: auto;
  text-align: center;
}
/* -----------------------staking-------------------- */

.stakBtnImg {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  bottom: 4rem;
  left: 13rem;
}

.stakBtnImg2 {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  left: 1rem;
}

.stakBtnDiv {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: rgb(83, 85, 88);
}
.stakBtnBtn {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: white;
  background: transparent;
  border: transparent;
  position: relative;
  padding-left: 2rem;
  bottom: 0.3rem;
}

/* ------------------------------------matchMaking--------------- */
.matchBox {
  height: 4rem;
  color: white;
  background: linear-gradient(90deg, #932c50 0%, #bd3f32 99.42%);
  box-shadow: inset -8.26342px -8.26342px 41.3171px 5.16464px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 1s ease-in-out;
}
.matchBox:hover {
  cursor: pointer;
  border: 3px solid white;
}

/* ---------------------singleNft ----------------*/
.singleNftDiv {
  background: linear-gradient(90deg, #932c50 0%, #bd3f32 99.42%);
  box-shadow: inset -8.26342px -8.26342px 41.3171px 5.16464px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  text-align: center;
  width: 25.5rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 10px 30px black;
  padding: 1rem 0rem;
 
  
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 2;
 
}

.linkScan{
  width: 20rem; 
  height: 3rem; 
  background: rgb(25, 28, 32);
  font-size: 1.2rem;
  letter-spacing: 3px;
  
}
/* -----------------------nftMintSm--------------- */
.NftMintDivSm {
  width: 22rem;
  height: 22rem;
  color: white;
  margin-left: 4rem;
}
.boardImgSm {
  width: 14rem;
  height: 12rem;
  margin-top: 2rem;
}
.nftMintLogoSm {
  margin-right: 0.25rem;
  width: 1rem;
  height: 1rem;
}
.maticTokenSm {
  width: 0.8rem;
  height: 0.8rem;
}
.nftDet1Sm span {
  text-align: center;
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin: 0.9rem auto;
}
.nftDet2Sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nftDescSm {
  width: 19.5rem;
  height: 6rem;
  background: rgba(26, 28, 32, 0.75);
  border-radius: 17px;
  margin-left: 1.2rem;
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 0 0 0.5rem;
  margin-top: 1rem;
}
.trophySm {
  width: 0.8rem;
  height: 0.8rem;
}
.mintSuccSm {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 5rem;
  margin-top: 1rem;
}
.mintSpanSm {
  display: inline-block;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  /* margin-left: 2rem; */
  margin: auto;
  text-align: center;
}
.despEditor {
  background: linear-gradient(90deg, #932c50 0%, #bd3f32 99.42%);
  box-shadow: inset -8.26342px -8.26342px 41.3171px 5.16464px rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
  text-align: center;
  width: 40rem;
  height: 21rem;
  padding: 0rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  align-items: start;
  position: relative;
 
  
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 2;
  
}


