article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s linear;
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
  opacity: 0;
}
.nextSlide {
  transform: translateX(100%);
  opacity: 0;
}
.leftMost {
  transform: translateX(-43%) scale(0.5);
  opacity: 1;
}
.left {
  transform: translateX(-25%) scale(0.7);
  opacity: 1;
}
.right {
  transform: translateX(25%) scale(0.7);
  opacity: 1;
}
.rightMost {
  transform: translateX(43%) scale(0.5);
  opacity: 1;
}
